body {
  background: rgb(42, 34, 25);
  /* background: radial-gradient(circle, rgb(255, 126, 6) 0%, rgb(255, 136, 0) 41%, rgb(255, 104, 4) 80%, rgb(255, 132, 1) 96%); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
